.head{
	text-align: center;
	width: 100%;
	opacity: .8;
	background-color: #000;
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
}
p{
	margin-top: 80px;
}
a {
	font-size: 30px;
	color: #fff;
	display: inline-block;
}