

.text-box{
	padding-top: 2rem;
}
.result {
	margin-bottom: 0;
	margin-top: 3rem;
}
.fonts {
	font-size: 2rem;
	text-align: center;
	padding: 2rem;
}
small {
	font-size: 1.3rem;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato/Lato-BoldItalic.eot');
	src: url('../fonts/Lato/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato/Lato-BoldItalic.woff2') format('woff2'),
		url('../fonts/Lato/Lato-BoldItalic.woff') format('woff'),
		url('../fonts/Lato/Lato-BoldItalic.ttf') format('truetype'),
		url('../fonts/Lato/Lato-BoldItalic.svg#Lato-BoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}

.Sans{
	font-family: 'Open Sans', sans-serif;
}
.Bebas{
	font-family: 'Bebas', sans-serif;
}
.Lato{
	font-family: 'Lato',  sans-serif ;
}
.Lobster{
	font-family: 'Lobster', sans-serif; 
}